<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- customerRepository setter call - HibernateCustomer injected through 
		setter injection, with property in bean CustomerService -->
	<bean name="customerRepository"
		class="com.pmuz.repository.HibernateCustomerRepositoryImpl" />

<!-- setter injection approach -->
<!-- 	<bean name="customerService" -->
<!-- 		class="com.pmuz.service.CustomerServiceImpl"> -->
<!-- 		<property name="customerRepository" ref="customerRepository" /> -->
<!-- 	</bean> -->
	
<!-- constructor injection approach -->
<!-- 	<bean name="customerService" -->
<!-- 		class="com.pmuz.service.CustomerServiceImpl"> -->
<!-- 		<constructor-arg index="0" ref="customerRepository" /> -->
<!-- 	</bean>	 -->

<!-- autowire approach -->
	<bean name="customerService"
		class="com.pmuz.service.CustomerServiceImpl" autowire="constructor">
	</bean>	


</beans> 	

